<div class="row-sm-6">
  <h2>Your bag</h2>
  <table class="table table-condensed table-responsive">
    <!-- <tr>
      <th>Option</th>
      <th>Id</th>
      <th>Name</th>
      <th>Photo</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub Total</th>
    </tr> -->
    <tr *ngFor="let item of items">
      <td>
        <a (click)="remove(item.product.id)" class="btn btn-default">X</a>
      </td>
      <!-- <td>{{ item.product.id }}</td> -->
      <!-- <td>{{ item.product.title }}</td> -->
      <td>
        <img src=" {{ item.product.photoPath }}" class="img-small" />
      </td>
      <td>{{ item.product.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product.price * item.quantity | currency }}</td>
    </tr>
    <tr>
      <td><h3>Total</h3></td>
      <td>
        <h3>{{ total | currency }}</h3>
      </td>
    </tr>
  </table>
</div>
