<!-- Collect the nav links, forms, and other content for toggling -->
<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" />
    </div>
  </div>
</div>
