<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 ">
      <div *ngFor="let product of products">
        <div class="card">
          <div class="row">
            <div class="col-sm-4 ">
              <img
                src="{{ product.photoPath }}"
                class="img-food img-responsive"
              />
            </div>
            <div class="col-sm-6">
              <h3>{{ product.title }}</h3>

              <h4>
                <strong>{{ product.price | currency }}</strong>
              </h4>

              <a
                [routerLink]="['/cart', { id: product.id }]"
                class="btn btn-primary pull-right .btn-card"
                >Add <span class="glyphicon glyphicon-shopping-cart"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <!--  <div class="card">
        <div class="row">
          <h3>Your bag</h3>
          <div class="col-sm-12">
            <p>Total</p>
          </div>
          <div class="col-sm-offset-3 col-sm-6">
            <a href="" class="btn btn-success text-center"
              ><strong>Proceed to checkout </strong>
              <span class="glyphicon glyphicon-ok"></span
            ></a>
          </div>
        </div>
      </div>
         -->
      <app-cart></app-cart>
    </div>
  </div>
</div>
