.img-food {
  width: 150px;
  height: 150px;
}
.card {
  border: 1px;
  border-style: solid;
  border-color: #ccc;
  margin-top: 10px;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  /* height: 220px; */
}

.btn-card {
  margin-bottom: 5px;
}
.check-cart {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table; /* Transforma a div numa tabela */
  table-layout: fixed; /* Utiliza o algoritmo de uma table fixed */
  border-collapse: separate; /* Colapsa a tabela para poder adicionar o espaçamento */
  border-spacing: 5px 0px; /* Adiciona o espaçamento */
}
/* .divContent {
  height: 330px;
  overflow: scroll;
} */
