<div class="container">
  <div class="espace">
    <app-form-search></app-form-search>
  </div>
  <app-menu></app-menu>
  <div class="espace">
    <router-outlet></router-outlet>
    <!-- <app-food></app-food> -->
  </div>
</div>
