<div class="menuSpace">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Brand</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li class="active">
          <a href="#">Link <span class="sr-only">(current)</span></a>
        </li> -->
          <li>
            <a [routerLink]="['/products']">
              <img src="assets/images/menu-button.png" class="img-menu" />
            </a>
          </li>

          <li>
            <a [routerLink]="['/cart']">
              <img src="assets/images/shopping-cart.png" class="img-menu" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/chinese.png" class="img-menu"
            /></a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/burgerm.png" class="img-menu" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/salad.png" class="img-menu" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/cakem.png" class="img-menu" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/pizza.png" class="img-menu" />
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>
