.img-menu {
  width: 60px;
  height: 60px;
}

.navbar-toggle {
  float: left;
}
.container-fluid {
  background: white;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  background: white;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none !important;
}

.navbar .navbar-collapse {
  text-align: center;
}
